html,body{
	padding:0px;
	margin :0px;
	color : #eee;
	font-size : 16px;
	background-color: #111822;
	min-width: 700px;
}
a{
	text-decoration: none;
	color:#eee;
}
.menu a{
	padding: 10px;
	font-size: 18px;
}
a:hover{
	color :cyan;
}
table{
	width : 100%;
	text-align: center;
}
.heading{
	text-align: center;
	letter-spacing: 6px;
	font-size: 160%;
	color: orange;
	width:100%;
}
.custom{
	font-size:22px;
}
.pera{
	font-size: 20px;
	font-family: cursive;
	line-height: 40px;
	text-align: justify;
	width :80%;
	letter-spacing: 1.5px;
}
.pic{
	width:80%;
}
.pic img{
	width:100%;
	border-radius:50%;
}
.footer{
	background-color:#ddd;
	color : #444;
	text-align: center;
}
.footer th{
	font-size: 18px;
	color: #f60;
	line-height: 40px;
}
.footer td{
	line-height: 30px;
}
